<settings version="2">
    <setting id="api_key" default="true" />
    <setting id="force_ai_when_auto_translate_off" default="true">true</setting>
    <setting id="model" default="true">gemini-3.1-flash-lite</setting>
    <setting id="src_english" default="true">true</setting>
    <setting id="src_spanish" default="true">true</setting>
    <setting id="src_german" default="true">false</setting>
    <setting id="src_french" default="true">false</setting>
    <setting id="src_portuguese" default="true">false</setting>
    <setting id="translation_mode" default="true">ai</setting>
    <setting id="skip_if_hebrew" default="true">true</setting>
    <setting id="gender_ref_arabic" default="true">false</setting>
    <setting id="subs_notifications" default="true">true</setting>
    <setting id="rtl_punct_mode" default="true">reverse</setting>
    <setting id="cache_size_mb" default="true">200</setting>
    <setting id="cache_ttl_days" default="true">180</setting>
    <setting id="af3_first_launch_dialog_done">true</setting>
    <setting id="pool_use" default="true">true</setting>
    <setting id="pool_share" default="true">true</setting>
    <setting id="use_builtin_engine" default="true">true</setting>
    <setting id="engine_autosub" default="true">true</setting>
    <setting id="engine_force_translate" default="true">false</setting>
    <setting id="max_search_time" default="true">10</setting>
    <setting id="keep_darksubs" default="true">false</setting>
    <setting id="ktuvit" default="true">true</setting>
    <setting id="wizdom" default="true">true</setting>
    <setting id="telegram" default="true">false</setting>
    <setting id="opensubtitles" default="true">true</setting>
    <setting id="yify" default="true">true</setting>
    <setting id="subsource" default="true">true</setting>
    <setting id="subscene" default="true">true</setting>
    <setting id="bsplayer" default="true">true</setting>
    <setting id="remember_source" default="true">true</setting>
    <setting id="show_subtitle_match" default="true">true</setting>
    <setting id="log_level" default="true">INFO</setting>
    <setting id="whole_subtitle_request" default="true">false</setting>
    <setting id="chunk_lines" default="true">100</setting>
    <setting id="parallel_chunks" default="true">3</setting>
    <setting id="fast_first_chunk" default="true">true</setting>
    <setting id="temperature" default="true">0.2</setting>
    <setting id="top_p" default="true">0.95</setting>
    <setting id="thinking_budget" default="true">0</setting>
    <setting id="_builtin_engine_rollout_v2" default="true">1</setting>
    <setting id="_engine_defaults_v" default="true">4</setting>
    <setting id="_fast_first_chunk_default_v2" default="true">1</setting>
    <setting id="_fav_diag_done" default="true">4</setting>
    <setting id="_ktuvit_on_v4" default="true">1</setting>
    <setting id="_pool_default_on_v1" default="true">1</setting>
    <setting id="_pool_share_force_v1" default="true">1</setting>
    <setting id="_pov_autoplay_default_v1" default="true">1</setting>
    <setting id="_pov_autoplay_revert_v2" default="true">1</setting>
    <setting id="_pov_resume_revert_v1" default="true">1</setting>
    <setting id="_pov_torbox_usage_patch_version" default="true">6</setting>
    <setting id="_remember_source_default_v1" default="true">1</setting>
    <setting id="_remember_source_force_v2" default="true">1</setting>
    <setting id="_rtl_fix_done" default="true">4</setting>
    <setting id="all_lang" default="true">true</setting>
    <setting id="auto_fix_sub_punctuation" default="true">true</setting>
    <setting id="auto_remove_hi_tags" default="true">false</setting>
    <setting id="auto_translate" default="true">false</setting>
    <setting id="enable_autosub_notifications" default="true">true</setting>
    <setting id="language_arab" default="true">false</setting>
    <setting id="language_english" default="true">true</setting>
    <setting id="language_hebrew" default="true">true</setting>
    <setting id="language_russian" default="true">false</setting>
    <setting id="retry_search_with_all_langs" default="true">true</setting>
    <setting id="show_debug" default="true">false</setting>
    <setting id="subtitle_trans_cache" default="true">15</setting>
    <setting id="translate_p" default="true">0</setting>
</settings>
